<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <!-- logged in sidebar -->
      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
      </div>

      <div class="sm:pl-64">
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-3xl">Welcome to profile page</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            dolores, numquam similique cum molestias molestiae, illum aliquam
            dolorem inventore minus deleniti! Nihil, quos exercitationem! Itaque
            cumque vel temporibus est magni.
          </p>
        </div>
      </div>
    </div>
    <script>
      console.log("Profile page");
    </script>
  </body>
</html>
