<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
  <head>
    <title>Services</title>
  </head>
  <body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services page offered by scm</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos enim neque ex placeat cum aliquid laborum exercitationem sint vero sequi esse eveniet excepturi eius eos obcaecati veritatis voluptatum, molestiae atque!
    </section>
  </body>
</html>
